---
title: Locally Merchant
---

<div class="container">
  <div class="instructions">
    Enter total sale amount:

  </div>


  <form class="amount-and-keypad">
    <input id="amount-input" value="0.00" type="text" pattern="[0-9]+(\.[0-9]{2})?">

    <div class="keypad">
      <div class="table-row">
        <div class="table-cell three-columns"><a class="keypad-button" href="#">1</a></div>
        <div class="table-cell three-columns"><a class="keypad-button" href="#">2</a></div>
        <div class="table-cell three-columns"><a class="keypad-button" href="#">3</a></div>
      </div>

      <div class="table-row">
        <div class="table-cell three-columns"><a class="keypad-button" href="#">4</a></div>
        <div class="table-cell three-columns"><a class="keypad-button" href="#">5</a></div>
        <div class="table-cell three-columns"><a class="keypad-button" href="#">6</a></div>
      </div>

      <div class="table-row">
        <div class="table-cell three-columns"><a class="keypad-button" href="#">7</a></div>
        <div class="table-cell three-columns"><a class="keypad-button" href="#">8</a></div>
        <div class="table-cell three-columns"><a class="keypad-button" href="#">9</a></div>
      </div>

      <div class="table-row">
        <div class="table-cell three-columns"><a class="keypad-button" href="#">0</a></div>
        <div class="table-cell three-columns"><a class="keypad-button" href="#">00</a></div>
        <div class="table-cell three-columns"><a class="keypad-button" href="#">X</a></div>
      </div>

    </div>

    <div><a class="confirm-button" href="/confirm.html"><img src="images/tick.svg"</img></a></div>

  </form>


  <script>
    wireUpKeypadButtons();
  </script>


</div>
