---
title: Locally Merchant
---

<div class="container">
  <a class="touch-instructions" href="/enter-amount.html">
    Touch the customer's Locally card <br/>against the phone
  </a>

  <a class="scan-qr-code" href="/scan.html">
    Or scan their QR code
  </a>
</div>

